* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #00467f, #a5cc82);
}
form {
  display: flex;
  align-items: center;
  label {
    font-size: 30px;
  }
  input {
    width: 200px;
    height: 50px;
  }
  button {
    width: 200px;
    height: 50px;
    margin: 0 10px;
  }
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
form#login {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f3f3f3;
  margin: 10px;
  margin-top: 100px;
  input {
    background: lightgrey;
    border: none;
    margin: 20px;
    &::placeholder {
      padding: 0 10px;
    }
  }
  button {
    background: linear-gradient(to right, #00467f, #a5cc82);
    margin: 0 10px;
    width: 203px;
    &:hover {
      background: linear-gradient(to left, #00467f, #a5cc82);
      cursor: pointer;
      border-radius: 8px;
    }
  }
}
form#register {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 260px;
  background: white;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00467f, #a5cc82);
    margin: 0 10px;
    width: 203px;
    &:hover {
      background: linear-gradient(to left, #00467f, #a5cc82);
      cursor: pointer;
      border-radius: 8px;
    }
  }
  div.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    input {
      background: lightgrey;
      border: none;
      height: 35px;
      margin: 10px;
      &::placeholder {
        padding: 0 10px;
      }
    }
  }
}
button#appendRegister {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 30px;
  background: #00467f;
  &:hover {
    background: #476d8d;
    cursor: pointer;
  }
}
